<div class="row g-2 mb-2">
    <div class="col-sm-6">
        <div class="input-group input-group-sm shadow-none">
            <span class="input-group-text" id="categorical_column">x</span>
            <select [(ngModel)]="chartConfiguration.data_object!.categorical_column"
                class="form-select form-select-sm shadow-none" aria-label="Default select example">
                <option [ngValue]="null" [selected]="true">Select category...</option>
                @for (categorical of chartData.chart_data_column_types?.categorical; track $index) {
                <option [ngValue]="categorical">{{categorical}}</option>
                }
            </select>
        </div>
    </div>
</div>

<div class="row g-2 mb-2">
    @for (aggregate_numerical_object of chartConfiguration.data_object?.aggregate_numerical_objects;
    track $index) {
    <div class="col-sm-6">
        <div class="input-group input-group-sm shadow-none">
            <span class="input-group-text" id="numerical_column">y</span>
            <select [(ngModel)]="aggregate_numerical_object.numerical_column"
                class="form-select form-select-sm shadow-none" aria-label="Default select example">
                <option [ngValue]="null" [selected]="true">Select numeric...</option>
                @for (numerical of chartData.chart_data_column_types?.numerical; track $index) {
                <option [ngValue]="numerical">{{numerical}}</option>
                }
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group input-group-sm shadow-none">
            <span class="input-group-text" id="aggregate_function">
                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 18">
                    <text x="1" y="14" font-family="serif" font-size="14" fill="black">f(x)</text>
                </svg>
            </span>
            <select [(ngModel)]="aggregate_numerical_object.aggregate_function"
                class="form-select form-select-sm shadow-none" aria-label="Default select example">
                @for (aggregate_function of aggregate_functions|enumToArray; track $index) {
                <option [value]="aggregate_function.value">{{aggregate_function.value}}</option>
                }
            </select>
        </div>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-sm btn-info" aria-label="line-option" (click)="op.toggle($event)">
            <i class="bi bi-sliders"></i>
        </button>
        <p-overlayPanel #op>
            <div class="flex flex-column gap-2 w-25rem">
                <div class="input-group input-group-sm shadow-none">
                    <span class="input-group-text" id="area_style">Step</span>
                    <select class="form-select shadow-none" [(ngModel)]="aggregate_numerical_object.step"
                        aria-label="Default select example" [disabled]="aggregate_numerical_object.smooth==true">
                        <option [ngValue]="'start'">Start</option>
                        <option [ngValue]="'middle'">Middle</option>
                        <option [ngValue]="'end'">End</option>
                    </select>
                </div>
            </div>
        </p-overlayPanel>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-sm btn-danger w-100" aria-label="Delete data"
            (click)="removeAggregateNumericalObject($index)">
            <i class="bi bi-trash"></i>
        </button>
    </div>
    }
</div>

<div class="row g-2 mb-2">
    <div class="col-sm-12 d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-primary" aria-label="Add data"
            (click)="addAggregateNumericalObject()">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
</div>

<button type="button" class="btn btn-sm btn-primary w-100" aria-label="Add data" (click)="saveChartConfiguration()">
    <i class="bi bi-save me-2"></i> Save
</button>